.currency-app {
  padding: 10px;
  border: 1px solid #666;
  margin: 20px;
  background: rgba(255, 191, 122, 0.55);
  border-radius: 5px;
}

.select-label {
  margin-right: 5px;
}

.navigation {
  border: 1px solid #999;
  display: inline-block;
  padding: 10px;
  background: rgba(249, 250, 183, 0.5);

  a {
    margin-right: 10px;
  }
}
